head {
    font-family: 'Lato', sans-serif;
}
.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }
  .navbar-nav > li{
    margin-left:10px;
    margin-right:10px;
  }
  

.btn.btn-outline-success.my-2 {
    margin-left: 15px;
    margin-right:15px;

}

.carousel{
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;
    background:transparent;
  border:0;
}